@media print {
  body.solo-ticket-print * {
    visibility: hidden !important;
  }

  body.solo-ticket-print #ticket-impresion {
    visibility: visible !important;
    position: absolute;
    left: 0;
    top: 0;
  }
}